
body{
    margin: auto;
    width: 1024px;
    height: 860px;
    background-color: rgb(147, 147, 182);
    background-image: url("img/bg/back.jpg");
    background-repeat: no-repeat;
    height: 800px;
    z-index: -1;
}

.control-unit{
    padding: 60px 0px 0px 60px;
    display: inline-flex;
    background-color:none;
    margin: 0px 0 0px 0px;
}

.refresh {
    padding: 0px 30px 0px 60px;
}

.refresh-image {
    display: block;
    width: 20px;
    height: 20px;
}

.language {
    margin: -10px 30px 0px 60px; 
}

.temperature {
    margin: -10px 30px 0px 60px;
}

.search-form{
    margin: -10px 30px 0px 60px;
}

button:active {
    background-color: rgb(174, 219, 189);
}
button:hover {
    background-color: rgb(174, 219, 189);
}

.left-block{
display: inline-block;
margin-top: 0%;
background-color: rgba(225, 225, 225, 0.5);
height: 400px;
width: 540px;
}

.weather-for-today {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 20px;
    background: none;
    width: 400px;
    height: 400px;
}

.town {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 300px;
    height: 60px;
}
.country {
    position: relative;
    top: -40px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 300px;
    height: 60px;
}

#doc_time {
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
   
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
}

.temperature-data{
    display: inline-flex;
    position: relative;
    margin-top: 0%;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
}

.icon-weather {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12.5%;
    background-image: url("img/weater-icons/sunny.png");
}

.summary{
    display: inline-flex;
    position: relative;
    color: rgb(0, 0, 0);
    margin-left: -50%;
    font-size: 40px;
    margin-top: 10%;
    font-weight: 400;
}

.three-day-weather-forecast {
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 540px;
    height: 200px;
    background-color:rgba(225, 225, 225, 0.5);
}

.first-day{
    display: inline-block;
    width: 180px;
    font-size: 30px;
    margin-left: 4%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    
}

.second-day{
    display: inline-block;
    width: 180px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 30px;
    font-weight: 600;
    margin-left: 4%;
}

.third-day{
    display: inline-block;
    width: 180px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 4%;
}

.right-block{
    display: inline-block;
    position: relative;
    margin-top: -47.8%;
    left: 55%;
    background-color: rgb(93, 95, 97);
    height: 629px;
    width: 540px;
}

#map{
    display: inline-block;
    position: relative;
    width: 540px;
    height: 629px;
}

